
/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* fade-transform */
.fade-transform-enter-active {
  transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fade-transform-leave-active {
  transition: all 0.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  position: absolute;
  width: 100%;
}

.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(20px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}
